@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional Global Styles */
html, body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}
